* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    width: 100%;
    /* background-color: blue; */
    background-color: #8ae9b3;
    /* background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo img {
    height: 60px;
    width: 120px;
    /* background-color: chartreuse; */
    border-radius: 10%;
}

.social-media {
    height: 40px;
    width: 200px;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github {
    height: 35px;
    width: 35px;
    /* background-color: greenyellow; */
}

.linkdin {
    height: 38px;
    width: 38px;
    /* background-color: greenyellow; */
}

.instagram {
    height: 40px;
    width: 40px;
    /* background-color: greenyellow; */
}